In [ ]:
# Load some test data
import pandas as pd
mpg = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/mpg.csv')
mpg.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   year          398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [ ]:
# Import the libraries we need 
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [ ]:
# Horsepower has some missing values, represented as '?'
mpg[mpg['horsepower'] == '?']

      mpg  cylinders  displacement  ... year  origin                  name
32   25.0          4          98.0  ...   71       1            ford pinto
126  21.0          6         200.0  ...   74       1         ford maverick
330  40.9          4          85.0  ...   80       2  renault lecar deluxe
336  23.6          4         140.0  ...   80       1    ford mustang cobra
354  34.5          4         100.0  ...   81       2           renault 18i
374  23.0          4         151.0  ...   82       1        amc concord dl

[6 rows x 9 columns]

In [ ]:
# Get our target variable and features and split them into test and train datasets

X = mpg[['cylinders', 'displacement', 'acceleration', 'weight']]
y = mpg['mpg']

X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create the model and train it, use default hyperparameters for now
model = XGBRegressor()
model.fit(X_train, y_train)

[19:01:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
# Get predictions for our test data
predictions = model.predict(X_test)
predictions

array([17.491123 , 32.880005 , 31.357609 , 33.983986 , 27.449415 ,
       14.397035 , 30.566387 , 23.904556 , 23.36834  , 12.525922 ,
       15.028317 , 23.38249  , 34.39683  , 28.032757 , 21.766737 ,
       36.92878  , 24.663647 , 18.438667 , 23.827766 , 14.161707 ,
       32.843884 , 28.706932 , 23.573576 , 13.936852 , 19.6191   ,
       15.062734 , 26.71001  , 12.721564 , 31.590557 , 30.566387 ,
       26.64318  , 29.139936 , 15.5338745, 35.46889  , 25.734348 ,
       22.30479  , 27.059273 , 19.580368 , 33.433327 , 21.226337 ,
       13.486583 , 22.30479  , 23.071053 , 19.917553 , 22.226343 ,
       20.763674 , 35.29183  , 22.745434 , 32.73291  , 26.189714 ,
       30.566387 , 30.566387 , 27.318785 , 19.6697   , 24.75744  ,
       17.11143  , 19.917553 , 33.983986 , 33.045113 , 33.282223 ,
       19.248236 , 14.200866 , 15.829767 , 19.295088 , 19.917553 ,
       29.152843 , 33.241314 , 31.413479 , 25.32427  , 26.59731  ,
       15.062734 , 15.438462 , 23.938917 , 29.139936 , 15.3102865,
       29.933088 , 11.34854  , 25.540321 , 17.038153 , 35.29183  ,
       25.309496 , 19.656725 , 30.132917 , 17.626677 , 15.459799 ,
       13.265097 , 17.878712 , 31.11359  , 19.917553 , 14.662948 ,
       14.521667 , 23.77293  , 14.978297 , 24.681936 , 36.92878  ,
       19.580368 , 18.10286  , 14.521667 , 24.965551 , 19.248236 ,
       32.308456 , 23.5845   , 12.4368725, 14.132323 , 26.907291 ,
       35.718414 , 19.807804 , 19.978046 , 20.598072 , 32.880005 ,
       32.96518  , 13.936852 , 23.930634 , 30.29858  , 20.842245 ,
       13.265097 , 19.6191   , 31.81569  , 29.164742 , 20.74017  ,
       23.355886 , 19.430502 , 19.978046 , 27.150517 , 14.363855 ,
       13.230079 , 32.310276 , 25.52552  , 31.552383 , 24.050165 ,
       19.778645 , 26.230614 , 19.728352 , 27.150517 , 19.580368 ,
       20.063581 , 29.554947 , 14.072405 , 19.72327  , 18.74426  ,
       35.29183  , 13.205178 , 17.761099 , 17.038153 , 30.098213 ,
       23.246489 , 16.515724 , 33.819126 , 14.662948 , 14.933157 ,
       28.027527 , 15.153732 , 23.50579  , 26.235174 , 15.093814 ,
       29.658478 , 32.386215 , 22.762407 , 22.735752 , 21.454945 ,
       15.397297 , 28.671108 , 32.880005 , 31.614525 , 30.098213 ,
       22.66864  , 29.7495   , 24.91035  , 18.180326 , 30.059052 ,
       25.094608 , 16.069897 , 12.205627 , 19.6697   , 14.662948 ,
       25.650566 , 14.662948 , 24.073051 , 31.18794  , 12.24121  ,
       15.012713 , 19.248236 , 14.505616 , 24.460787 , 35.46889  ,
       30.132917 , 25.210358 , 15.459799 , 12.525922 , 28.937317 ,
       27.895334 , 18.731659 , 28.429981 , 22.343271 , 14.421276 ,
       33.02508  , 22.94476  , 19.679594 , 19.730194 , 16.455807 ,
       20.511032 , 28.796265 , 19.640862 , 19.6697   , 23.58544  ,
       15.260466 , 25.575151 , 19.917553 , 14.560267 , 26.314192 ,
       18.683767 , 30.236572 , 23.544668 , 17.034477 , 26.825516 ,
       14.754325 , 34.06176  , 14.363855 , 16.9284   , 16.925764 ,
       16.415684 , 24.663647 , 14.754325 , 14.363855 , 16.62797  ,
       19.6697   , 14.788368 , 14.30018  , 17.934105 , 25.650566 ,
       12.116578 , 14.541852 , 18.395758 , 28.039946 , 31.048756 ,
       32.386215 , 28.707945 , 25.643364 , 20.690065 , 14.363855 ,
       31.951805 , 18.878035 , 16.14539  , 23.58544  , 19.6191   ,
       30.566387 , 28.398333 , 16.691587 , 18.391428 , 12.205627 ,
       36.92878  , 14.662948 , 34.488342 , 19.580368 , 12.41567  ,
       28.283817 , 13.996771 , 26.551455 , 24.663647 , 33.006737 ,
       19.248236 , 17.45367  , 14.397035 , 25.04424  , 32.60539  ,
       16.455807 , 21.64682  , 16.846632 , 20.063581 , 14.853684 ,
       25.650566 , 17.491123 , 18.546488 , 22.735752 , 17.038153 ,
       22.707209 , 33.282223 , 25.980074 , 24.360775 , 30.151543 ,
       32.621185 , 18.704113 , 14.1017885, 23.542624 , 14.421276 ,
       21.454945 , 32.589058 , 17.11143  , 33.02508  , 24.0895   ,
       18.10286  , 27.324339 , 25.802168 , 16.81033  , 26.02388  ,
       18.438667 , 30.098213 , 32.511295 , 20.511032 , 23.200407 ,
       25.650566 , 24.23064  , 35.29183  , 20.003088 , 20.844492 ,
       24.862562 , 15.559558 , 31.696234 , 16.996893 , 16.515724 ,
       25.527126 , 29.205643 , 14.421276 , 24.379894 , 14.34367  ,
       24.357218 , 32.612568 , 26.71001  ], dtype=float32)

In [ ]:
# Compute the Root Mean Squared Error of the predictions
from sklearn.metrics import mean_squared_error

result = mean_squared_error(y_test, predictions, squared=False)
result

# Looks like we're off by just 4.5 mpg on average
# Not bad for a quick run with no real preprocessing

4.564261928491861