<a href="https://colab.research.google.com/github/Kate-Strydom/cse450/blob/main/notebooks/hint_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Create a data frame to test with
data = pd.DataFrame({"celsius": [10,20,30,40], "weather": ['sun', 'sun', 'rain', 'rain']})
data

   celsius weather
0       10     sun
1       20     sun
2       30    rain
3       40    rain

In [ ]:
# Define a function that takes one parameter and returns the conversion
def convert_to_f(c):
  return (c * 9/5) + 32

# Apply the function to each element in the celsius column
data['fahrenheit'] = data['celsius'].apply(convert_to_f)
data

   celsius weather  fahrenheit
0       10     sun        50.0
1       20     sun        68.0
2       30    rain        86.0
3       40    rain       104.0

In [ ]:
# Do this with a lambda instead. We usually name the lambda parameter "x",
# but I've named it "c" here so you can compare it with the other method;
#
#
# Lambdas are written in this format:
#
# lambda <parameter_name(s)> : <return value>
#
# There is no real advantage to using one way over the other
data['fahrenheit'] = data['celsius'].apply(lambda c: ((c * 9/5) + 32))
data

   celsius weather  fahrenheit
0       10     sun        50.0
1       20     sun        68.0
2       30    rain        86.0
3       40    rain       104.0

In [ ]:
# Define a function that expects a row of data and calculates a result based on 
# different columns in that row:
def should_go_to_beach(row):
  # We will only go to the beach if it's sunny and warm
  if row['weather'] == 'sun' and row['celsius'] >= 20:
    return True
  else:
    return False

# Here we apply the function to the entire DataFrame rather than a single
# column, and we apply it across the row by setting axis=1.
data['beach_trip'] = data.apply(should_go_to_beach, axis=1)
data

   celsius weather  fahrenheit  beach_trip
0       10     sun        50.0       False
1       20     sun        68.0        True
2       30    rain        86.0       False
3       40    rain       104.0       False

In [ ]:
# And a lambda version (note we're using "x" instead of "row", as is conventional):
data['beach_trip'] = data.apply(lambda x: x['weather'] == 'sun' and x['celsius'] >= 20, axis=1)
data

   celsius weather  fahrenheit  beach_trip
0       10     sun        50.0       False
1       20     sun        68.0        True
2       30    rain        86.0       False
3       40    rain       104.0       False